@page "/"

<div class="chat-container">
    @if (_chatHistory.Count > 0)
    {
        @foreach (var entry in BuildChatSequence())
        {
            <ChatMessage Entity="@_currentUser" Message="@entry.UserMessage" IsUser="true" />
            <ChatMessage Entity="Assistant" Message="@entry.BotMessage" IsUser="false" />
        }
    }

    <div id="input-container" class="input-container input-group mb-3">
        <input type="text"
               class="form-control hide-border"
               placeholder="Message AI Assistant"
               aria-label="Message AI Assistant"
               aria-describedby="basic-addon2"
               @bind="_userMessage"
               @onkeyup="HandleKeyPress" />
        <div class="input-group-append" m8>
            <span class="bi bi-send" type="button" @onclick="SendMessage"></span>
        </div>
    </div>
</div>
