.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #222;
    color: #fff;
    padding: 20px;
}

.chat-message-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 100%;
}

.chat-message-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

    .chat-message-header .bi {
        padding-right: 8px;
    }

    .chat-message-header label {
        font-weight: bold;
    }

.chat-message {
    border-radius: 5px;
    width: 100%;
    word-wrap: break-word;
    line-height: 1.75;
}

.user-prompt,
.bot-answer {
    border: none; /* Remove borders */
    padding: 5px 24px;
}

.user-prompt {
    background-color: transparent; /* Transparent background for user messages */
}

.bot-answer {
    background-color: transparent; /* Transparent background for bot messages */
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

    .input-container input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #333; /* Darker input background color */
        color: #fff; /* White text color for input */
    }

    .input-container button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .input-container button:hover {
            background-color: #0056b3;
        }
