.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
    gap: 24px;
    max-width: 1280px;
    margin: 0 auto; /* Add margin to center horizontally */
}

.chat-message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-message-header {
    display: flex;
    align-items: center; /* Align icon and text vertically */
    margin-bottom: 5px;
}

    .chat-message-header .bi {
        padding-right: 8px; /* Adjust as needed */
    }

.chat-message {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.user-prompt {
    background-color: #F0F0F0;
}

.bot-answer {
    background-color: #E0E0E0;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-container button:hover {
    background-color: #0056b3;
}
